<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

	
    
    <servlet>
        <servlet-name>Tournaments</servlet-name>
        <servlet-class>Tournament.Tournament</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>Teams</servlet-name>
        <servlet-class>Team.Team</servlet-class>
    </servlet>
    
    
     <servlet>
        <servlet-name>Fixtures</servlet-name>
        <servlet-class>Tournament.Fixture</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>Players</servlet-name>
        <servlet-class>Team.Player</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Venues</servlet-name>
        <servlet-class>Team.Venue</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>Playing11</servlet-name>
        <servlet-class>Tournament.Playing_11</servlet-class>
    </servlet> 
   
    <servlet>
        <servlet-name>Commentary</servlet-name>
        <servlet-class>Tournament.Commentary</servlet-class>
    </servlet> 
   
    <servlet>
        <servlet-name>OverSummary</servlet-name>
        <servlet-class>Tournament.Over_Summary</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>Team.User</servlet-class>
    </servlet> 
    
    
    <servlet>
        <servlet-name>MatchDetails</servlet-name>
        <servlet-class>Tournament.MatchDetails</servlet-class>
    </servlet> 
   
    <servlet-mapping>
        <servlet-name>MatchDetails</servlet-name>
        <url-pattern>/match-details</url-pattern>
    </servlet-mapping>
    
   
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>OverSummary</servlet-name>
        <url-pattern>/over_summary</url-pattern>
    </servlet-mapping>
   
   <servlet-mapping>
        <servlet-name>Commentary</servlet-name>
        <url-pattern>/commentaries/*</url-pattern>
    </servlet-mapping>
   
   <servlet-mapping>
        <servlet-name>Playing11</servlet-name>
        <url-pattern>/playing-11s</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>Tournaments</servlet-name>
        <url-pattern>/tournaments/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Players</servlet-name>
        <url-pattern>/players</url-pattern>
        <url-pattern>/players/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Fixtures</servlet-name>
        <url-pattern>/fixtures/*</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>Teams</servlet-name>
        <url-pattern>/teams/*</url-pattern>
    </servlet-mapping>
    
    
   <servlet-mapping>
        <servlet-name>Venues</servlet-name>
        <url-pattern>/venues/*</url-pattern>
    </servlet-mapping> 
    
    
    <filter>
    	<filter-name>AuthUser</filter-name>
    	<filter-class>Auth.AuthUser</filter-class>
    </filter>
    
    <filter>
    	<filter-name>Auth</filter-name>
    	<filter-class>Auth.Auth</filter-class>
    </filter>
    
    <filter-mapping>
    	<filter-name>AuthUser</filter-name>
    	<url-pattern>/users/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
    	<filter-name>Auth</filter-name>
    	<url-pattern>/tournament/*</url-pattern>
    	<url-pattern>/teams/*</url-pattern>
    	<url-pattern>/fixtures/*</url-pattern>
    	<url-pattern>/players/*</url-pattern>
    	 <url-pattern>/playing-11s</url-pattern>
    	 <url-pattern>/over_summary</url-pattern>
    	 <url-pattern>/commentaries/*</url-pattern>
    	 <url-pattern>/match-details</url-pattern>
 
    </filter-mapping>

</web-app >
